body {
    background-image: url("../background.jpg");
}

.btn {
    background-color: #41626a;
}

.title {
    color: #41626a;
    text-align: center;
}

.descr {
    color: #41626a;
    text-align: center;
    margin-top: 20px;
}

.text-signup {
    color: #41626a;
    margin-top: 50px;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 120px;
}

.form-check-label {
    color: #41626a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #41626a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

.save {
    text-align: right;
}
